.nav{
    background-color: #fff1c9;
}
.header{
    border-radius: 35px;
    border: 1px solid whitesmoke;
    background-color: white;
}
.flag{
    width: 28px;
}
.women{
    width: 500px;
}
.text{
    color: #F9B800;
    line-height: 39px;
}
.title{
    font-size: 75px;
}

.btn-left{
    border-radius: 15px;
}
.icon{
    width: 20px;
}
.btn{
    border-radius: 20px;
    background-color: #F9B800;
}
.btn-bootom{
    margin-bottom: 100px;
}
