.drink{
    width: 550px;
}
.cont-2{
    gap: 100px;
    
}
.subtitle{
    border-bottom: 1px solid black;
    line-height: 34px;
}
.desc{
    line-height: 26px;
    letter-spacing: 2%;
}
.icon{
    color: white;
}
.info{
    letter-spacing: 2%;
    color: #F9B800;
}
.curs{
    line-height: 66px;
    font-size: 50px;
}
.cont-3{
    padding-top: 70px;
    margin-bottom: 200px;
}


.pic-one{
    width: 50px;
    margin-left: 15px;
   
}

.bor{
    border-radius: 30px;
}
.pic-two{
    width: 50px;
    margin-left: 15px;
}
.pic-three{
    margin-left: 15px;
    width: 50px;
}
.pic-four{
    width: 50px;
    margin-left: 15px;
}

.tit{
    font-size: 70px;
    
    span{
        color: #F9B800;
    }
}
.tit-two{
    font-size: 70px;
    span{
        color: white;
    }
}
.name{
    line-height: 32px;
}
.surname{
    margin-bottom: 0;
    line-height: 26px;

}
.bottom{
    color: #262626;
    line-height: 23px;
}
